@model List<QuanLyBanHang.Models.CartItem>
@{
    ViewBag.Title = "Giỏ hàng";

}

@section scripts{


    <script src="~/Scripts/Controllers/Cart.js"></script>
}
<div class="container">
    <h2>GIỎ HÀNG CỦA BẠN</h2>
    <div class="content">
        <div class="section group">
            @if (Model.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <td>Mã SP</td>
                            <td>Tên SP</td>
                            <td>Ảnh SP</td>
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Thành tiền</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.product.ID</td>
                                <td>@item.product.TenHang</td>
                                <td><img src="~/Upload/Product/@item.product.HinhAnh" style="width:100px; height:100px" /></td>
                                <td><input type="number" class="txtQuantity form-control" data-id="@item.product.ID" value="@item.Quantity" /></td>
                                <td>@item.product.GiaBan</td>
                                <td>@(Convert.ToDecimal(item.product.GiaBan * item.Quantity))</td>
                                <td><a href="#" data-id="@item.product.ID" class="btn-delete">Xoá</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="pull-right" style="margin-top:30px">
                    <button id="btnContinue" class="btn btn-primay">Tiếp tục mua hàng</button>
                    <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
                    <button id="btnDeleteAll" class="btn">Xoá giỏ hàng</button>
                    <button id="btnPayment" class="btn">Thanh toán</button>
                </div>
            }
            else
            {
                <br />
                <span class="alert alert-danger text-center">Chưa có sản phẩm nào trong giỏ hàng của bạn. Mua sắm ngay!</span>
            }

        </div>
    </div>
</div>