@model IEnumerable<QuanLyBanHang.Models.KhachHang>
@{
    ViewBag.Title = "Khách Hàng";
}
<div style="background-color:#edf0f0;margin-top:-20px!important;min-height:50em;">
    <div class="container">
        <div class="col-md-3">
            <h3>Danh sách khách hàng</h3>
        </div>
        <div class="col-md-9" style="padding-top:15px">
          <button type="submit" class="btn-primary btn-add-product" data-toggle="modal" data-target="#Add-Client"><i class="bi bi-plus-circle"></i> Thêm khách hàng</button>
          
            @Html.Partial("Create")       
         </div>

    </div>
           
    <div class="container">
        <div class=" Product-zone">
            <table id="myTable" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mã khách hàng</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Điện thoại</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Email</th>
                        <th scope="col">Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
               @foreach (var item in Model)
               {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.TenKhachHang</td>
                        <td>@item.DienThoai</td>
                        <td>@item.GioiTinh</td>
                         <td>@item.Email</td>
                        <td>
                            <a href="~/Admin/KhachHang/Update/@item.ID" class="bi bi-pencil-square">  </a>
                        </td>
                        
                    </tr>
                }  
                </tbody>
            </table>

        </div>

    </div>
</div>


<script src="~/Scripts/JSTB.js"></script>